layout {

    focus-ring {
        active-color   "#93bac5"
        inactive-color "#1a2123"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#93bac5"
        inactive-color "#1a2123"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1a212370"
    }

    tab-indicator {
        active-color   "#93bac5"
        inactive-color "#336472"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#93bac580"
    }
}

recent-windows {
    highlight {
        active-color "#93bac5"
        urgent-color "#fd4663"
    }
}
